*, *::before, *::after {
    box-sizing: border-box;
}

button {
    &:focus, &:hover, &:active, &:visited {
        outline: none;
    }
}

body {
    padding-top: 70px;
}

.mb-50 {
    margin-bottom: 50px;
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.list-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.wrap-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;

    .item {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        background: #fff;
        transition: opacity .5s ease;
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
    }
}


.item .item-thumbnail {
    height: 200px;
    position: relative;
    background: #ccc;
    overflow: hidden;
    cursor: pointer;
}

.item .item-thumbnail img {
    /* animation: app-logo-spin infinite 20s linear; */
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .7s ease;
}

.item .item-meta {
    position: absolute;
    top: 164px;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    background: #eee;
    background-color: rgba(0,0,0,0.5);
}

.item .item-meta span {
    color: #fff;
}

.item .item-meta span.item-view {
    float: left;
    padding-left: 10px;
}

.item .item-meta span.item-publish-date {
    float: right;
    padding-right: 10px;
}

.item .item-title {
    padding: 15px 10px 0;
}

.item .item-title a {
    color: #00a920;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    display: -moz-box;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

.item .item-desc {
    padding: 15px 0;
}

.item .item-desc p {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


$base: #0f1923;
$white: #ece8e1;
$pink: #ff4655;
$height: 54px;
$transition: 0.3s ease-out all;

.btn-load-more {
	position: relative;
    width: 250px;
    height: 54px;
	font-size: 15px;
	font-weight: 600;
    line-height: 28px;
	color: $pink;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
	box-shadow: 0 0 0 1px inset rgba($white, 0.3);
	background: transparent;
	background-color: transparent;
	padding: 0;
    border-color: transparent;
    
	cursor: pointer;
	& p {
		margin: 0;
		height: $height;
		line-height: $height;
		box-sizing: border-box;
		z-index: 1;
		left: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
		& span.base {
			box-sizing: border-box;
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
            left: 0;
            border: 2px solid $pink;
		}
	}

	& span.bg {
        left: -5%;
        position: absolute;
        background: $pink;
        width: 0;
        height: 100%;
        z-index: 3;
        transition: $transition;
        transform: skewX(-10deg);
	}
	
    & span.text {
        z-index: 4;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
	}
	
	&:hover {
		color: $white;
		& span.bg {
			width: 110%;
		}
		& span.text:after {
			background: $white;
		}
	}
}